*{
    padding: none;
    margin: none;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image:url(https://live.staticflickr.com/4384/36508539602_efb2feeea9_h.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
}

button{
    all:unset;
}

ul{
    list-style: none;
}

#firstelement{
    display: flex;
    justify-content: space-between;
}

.cont-main{
    width: 60%;
    min-height:30rem;
    border: solid;
    display: flex;
    flex-direction: column;
    text-align: center;
}

li{
    display: flex;
    justify-content: space-between;
}

